.chatsection {
	float: left;
	border: 2px solid black;
	width: 500px;
	height: 500px;
	padding: 20px;
	margin: 0 auto;
}

.whitepage { 
	float: left;
	position: relative;
	border: 2px solid black;
	width: 500px;
	height: 500px;
	padding: 20px;
}

#mic {
 position: absolute;
 float: left;
 bottom: 40;
width:5%;
height:5%;
}


#uploadfile {
position: absolute;
bottom: 10;
right: 3;
float:left;
width:50%;
height:10%;
}

#submit {
position: absolute;
bottom: 40;
right: 3;
float:left;
width:10%;
height:5%;
}

#playernotesone {
position: absolute;
	float: left;
	bottom: 40;
	left: 10;
	width: 540px;	
}

#chatform {
	position: absolute;
	float: left;
	bottom: 0;
	left: 0;
	width: 540px;
}

#testbox {
	border: 2px solid black;
	width: 98%;
	height: 35%
}

.dicebox {
  float: top;
  float: left;
  border: 2px solid black;
  width: 20%;
  height: 10%;  
}

.videoContainer {              
  object-fit: cover;           
  margin: 0 auto;              
  padding: 0;                  
}                              

.videoContainer video {        
  width: 30%;                 
  height: 20%;                
  border-radius: 10px;         
  border: 5px double #f2f2f2;  
}                              

.volume {                      
  position: absolute;          
  left: 15%;                   
  width: 70%;                  
  bottom: 20px;                
  height: 10px;                
  display: none;               
}                              